import pandas as pd
import numpy as np
import os

In [6]:
import pandas as pd
import numpy as np
import os

In [7]:
df = pd.read_csv('df_apple.csv')
df

,Product_ID,Product_Type,Model,Release_Date,Price,In_Stock,Category_Type
0,1,MacBook,"MacBook Pro 13""",2021-05-21,1299.99,True,desktop
1,2,iPad,iPad Air,2022-03-18,599.99,False,mobile
2,3,iPhone,iPhone 13,2023-09-24,999.99,True,mobile
3,4,Watch,Watch Series 7,2021-10-15,399.99,True,wearable
4,5,AirPods,AirPods Pro,2021-05-18,249.99,False,wearable
5,6,MacMini,NaN,NaN,699.99,True,desktop
6,7,NaN,MacMini M1,2020-11-17,NaN,False,desktop
7,8,MacBook Air,MacBook Air M1,2020-12-22,999.99,NaN,desktop

Think of .iloc[] like this:
 "I want row number 0 and column number 1."

Row and column numbers start at 0.

You give the position, not the name.

In [15]:
# Select one row (by number)

df.iloc[0]

Product_ID                     1
Product_Type             MacBook
Model            MacBook Pro 13"
Release_Date          2021-05-21
Price                    1299.99
In_Stock                    True
Category_Type            desktop
Name: 0, dtype: object

In [17]:
# Select one value (row 0, column 1)

df.iloc[0,1]

'MacBook'

In [21]:
# Select rows 0, 1 and columns 1, 4 (Product_Type, Price)

df.iloc[[0,1],[1,4]]

  Product_Type    Price
0      MacBook  1299.99
1         iPad   599.99

In [23]:
# Select all rows, columns 1 to 3

df.iloc[:,1:4]

  Product_Type            Model Release_Date
0      MacBook  MacBook Pro 13"   2021-05-21
1         iPad         iPad Air   2022-03-18
2       iPhone        iPhone 13   2023-09-24
3        Watch   Watch Series 7   2021-10-15
4      AirPods      AirPods Pro   2021-05-18
5      MacMini              NaN          NaN
6          NaN       MacMini M1   2020-11-17
7  MacBook Air   MacBook Air M1   2020-12-22

Think of .loc[] like this:
"I want row label 0 and column named 'Product_Type'."

.loc[] uses row labels (often integers in your case) and column names.

In [24]:
# Select one row (label 0)

df.loc[1]

Product_ID                2
Product_Type           iPad
Model              iPad Air
Release_Date     2022-03-18
Price                599.99
In_Stock              False
Category_Type        mobile
Name: 1, dtype: object

In [26]:
#Select one Column

df.loc[:,'Product_Type']

0        MacBook
1           iPad
2         iPhone
3          Watch
4        AirPods
5        MacMini
6            NaN
7    MacBook Air
Name: Product_Type, dtype: object

In [27]:
# Select one value (row label 0, column 'Product_Type')

df.loc[0,'Product_Type']

'MacBook'

In [33]:
# Select multiple rows and columns (row labels 0, 1; columns Product_Type, Price)

df.loc[[0,1],['Product_Type','Price']]

  Product_Type    Price
0      MacBook  1299.99
1         iPad   599.99

In [37]:
#  Select all rows, columns 'Product_Type' to 'Release_Date'

df.loc[:, 'Product_Type':'Release_Date']

  Product_Type            Model Release_Date
0      MacBook  MacBook Pro 13"   2021-05-21
1         iPad         iPad Air   2022-03-18
2       iPhone        iPhone 13   2023-09-24
3        Watch   Watch Series 7   2021-10-15
4      AirPods      AirPods Pro   2021-05-18
5      MacMini              NaN          NaN
6          NaN       MacMini M1   2020-11-17
7  MacBook Air   MacBook Air M1   2020-12-22

Question 1:
Get the first row using .iloc[].

Question 2:
Get the value from row 2 (3rd row) and column 1 (Product_Type) using .iloc[].

Question 3:
Get the first 3 rows and columns Product_Type and Price using .iloc[].

Question 4:
Get all rows and columns Product_ID, Product_Type, Model using .iloc[].

In [38]:
df.iloc[0]

Product_ID                     1
Product_Type             MacBook
Model            MacBook Pro 13"
Release_Date          2021-05-21
Price                    1299.99
In_Stock                    True
Category_Type            desktop
Name: 0, dtype: object

In [40]:
df.iloc[2,1]

'iPhone'

In [46]:
df.iloc[0:3,[1,4]]

  Product_Type    Price
0      MacBook  1299.99
1         iPad   599.99
2       iPhone   999.99

In [47]:
df.iloc[:,:]

,Product_ID,Product_Type,Model,Release_Date,Price,In_Stock,Category_Type
0,1,MacBook,"MacBook Pro 13""",2021-05-21,1299.99,True,desktop
1,2,iPad,iPad Air,2022-03-18,599.99,False,mobile
2,3,iPhone,iPhone 13,2023-09-24,999.99,True,mobile
3,4,Watch,Watch Series 7,2021-10-15,399.99,True,wearable
4,5,AirPods,AirPods Pro,2021-05-18,249.99,False,wearable
5,6,MacMini,NaN,NaN,699.99,True,desktop
6,7,NaN,MacMini M1,2020-11-17,NaN,False,desktop
7,8,MacBook Air,MacBook Air M1,2020-12-22,999.99,NaN,desktop

Question 5:
Get the row with index 4 using .loc[].

Question 6:
Get the value of 'Price' from the row with index 1 using .loc[].

Question 7:
Get rows 0 to 2 and columns 'Product_Type' and 'Price' using .loc[].

Question 8:
Get all rows and columns from 'Product_Type' to 'Release_Date' using .loc[].

In [48]:
df

,Product_ID,Product_Type,Model,Release_Date,Price,In_Stock,Category_Type
0,1,MacBook,"MacBook Pro 13""",2021-05-21,1299.99,True,desktop
1,2,iPad,iPad Air,2022-03-18,599.99,False,mobile
2,3,iPhone,iPhone 13,2023-09-24,999.99,True,mobile
3,4,Watch,Watch Series 7,2021-10-15,399.99,True,wearable
4,5,AirPods,AirPods Pro,2021-05-18,249.99,False,wearable
5,6,MacMini,NaN,NaN,699.99,True,desktop
6,7,NaN,MacMini M1,2020-11-17,NaN,False,desktop
7,8,MacBook Air,MacBook Air M1,2020-12-22,999.99,NaN,desktop

In [49]:
df.loc[4]

Product_ID                 5
Product_Type         AirPods
Model            AirPods Pro
Release_Date      2021-05-18
Price                 249.99
In_Stock               False
Category_Type       wearable
Name: 4, dtype: object

In [50]:
df.loc[1,'Price']

599.99

In [55]:
df.loc[0:2,['Product_Type','Price']]

  Product_Type    Price
0      MacBook  1299.99
1         iPad   599.99
2       iPhone   999.99

In [58]:
df.loc[:,'Product_Type':'Release_Date']

  Product_Type            Model Release_Date
0      MacBook  MacBook Pro 13"   2021-05-21
1         iPad         iPad Air   2022-03-18
2       iPhone        iPhone 13   2023-09-24
3        Watch   Watch Series 7   2021-10-15
4      AirPods      AirPods Pro   2021-05-18
5      MacMini              NaN          NaN
6          NaN       MacMini M1   2020-11-17
7  MacBook Air   MacBook Air M1   2020-12-22