In [1]:
import pandas as pd

df = pd.DataFrame({
    'artist': ['Drake', 'The Weeknd'],
    '2019': [85, 95],
    '2020': [90, 92]
})

df

       artist  2019  2020
0       Drake    85    90
1  The Weeknd    95    92

### 1. melt() → Wide → Long

 Converts columns into rows.

In [3]:
df_melt = df.melt(id_vars=['artist'],       # column to keep fixed
                 var_name='year',           # new column for old column names
                 value_name='popularity'    # new column for values
                 )
df_melt


# Now each year’s popularity is a separate row.
# Great for charts, filtering, or tidy data.

       artist  year  popularity
0       Drake  2019          85
1  The Weeknd  2019          95
2       Drake  2020          90
3  The Weeknd  2020          92

### 2. stack() → Columns → Index

 Moves column labels into the row index.

In [4]:
df_stack = df.set_index('artist').stack()
df_stack

# Notice:
# 2019 and 2020 moved from columns → second level of the index.
# Data values are stored in a single unnamed column (0).

artist
Drake       2019    85
            2020    90
The Weeknd  2019    95
            2020    92
dtype: int64

### 3. unstack() → Index → Columns

Opposite of stack(). Moves index levels back into columns.

In [6]:
df_unstack = df_stack.unstack()
df_unstack

# Back to wide format.
# (Exactly the reverse of stack()).

            2019  2020
artist
Drake         85    90
The Weeknd    95    92