In [1]:
import pandas as pd

data = {
    'artist': ['Drake', 'Drake', 'The Weeknd', 'The Weeknd', 'Ed Sheeran'],
    'year': [2019, 2020, 2019, 2020, 2020],
    'popularity': [85, 90, 95, 92, 88]
}
df = pd.DataFrame(data)

In [2]:
df.head(2)

  artist  year  popularity
0  Drake  2019          85
1  Drake  2020          90

### Flattening (Multi-Index â†’ Single Level)

Sometimes after operations like groupby() with multiple keys or pivot_table(), 
you end up with a multi-level index (hierarchical index).

ðŸ‘‰ This gives you a multi-level index: artist + year.

In [6]:
df_grouped = df.groupby(['artist', 'year'])['popularity'].mean()
df_grouped

artist      year
Drake       2019    85.0
            2020    90.0
Ed Sheeran  2020    88.0
The Weeknd  2019    95.0
            2020    92.0
Name: popularity, dtype: float64

In [8]:
df_flat = df_grouped.reset_index()
df_flat

       artist  year  popularity
0       Drake  2019        85.0
1       Drake  2020        90.0
2  Ed Sheeran  2020        88.0
3  The Weeknd  2019        95.0
4  The Weeknd  2020        92.0

To flatten it back to columns:
Now artist and year are regular columns again, and the index is a simple integer.

#### Reset Index on Normal DataFrame

In [10]:
df_reset = df.reset_index()
df_reset

   index      artist  year  popularity
0      0       Drake  2019          85
1      1       Drake  2020          90
2      2  The Weeknd  2019          95
3      3  The Weeknd  2020          92
4      4  Ed Sheeran  2020          88

Here the old index (0,1,2,3,4) is stored as a new column called index.
If you donâ€™t want that column, you can drop it:

In [12]:
df_reset = df.reset_index(drop=True)
df_reset

       artist  year  popularity
0       Drake  2019          85
1       Drake  2020          90
2  The Weeknd  2019          95
3  The Weeknd  2020          92
4  Ed Sheeran  2020          88

Multi-index flattening â†’ use reset_index().

Reset normal index â†’ use reset_index(drop=True) to avoid extra index column.

Flattening is just turning index levels back into columns.