In [1]:
import pandas as pd
from functools import reduce

df = pd.DataFrame({
    'artist': ['Drake', 'The Weeknd', 'Ed Sheeran'],
    'year': [2019, 2020, 2020],
    'popularity': [85, 92, 88]
})

df

       artist  year  popularity
0       Drake  2019          85
1  The Weeknd  2020          92
2  Ed Sheeran  2020          88

### 1. apply() â†’ Apply Function to a Column/Row

 You can use it on:

A Series (single column)

A DataFrame (axis=0 = column-wise, axis=1 = row-wise)

In [3]:
# (a) Apply on a Column

df['popularity_squared'] = df['popularity'].apply(lambda x : x**2)
df

       artist  year  popularity  popularity_squared
0       Drake  2019          85                7225
1  The Weeknd  2020          92                8464
2  Ed Sheeran  2020          88                7744

In [5]:
# (b) Apply on Rows (axis=1)

df['artist_year'] = df.apply(lambda row : row['artist'] + '_' +  str(row['year']), axis=1)
df

       artist  year  popularity  popularity_squared      artist_year
0       Drake  2019          85                7225       Drake_2019
1  The Weeknd  2020          92                8464  The Weeknd_2020
2  Ed Sheeran  2020          88                7744  Ed Sheeran_2020

### 2. map() â†’ Elementwise for Series

ðŸ‘‰ Only works on Series.

Function: transform each value

Dict: replace values

Series: map values to another series

In [6]:
# (a) With a Function

df['popularity_scaled'] = df['popularity'].map(lambda x: x/10)
df

,artist,year,popularity,popularity_squared,artist_year,popularity_scaled
0,Drake,2019,85,7225,Drake_2019,8.5
1,The Weeknd,2020,92,8464,The Weeknd_2020,9.2
2,Ed Sheeran,2020,88,7744,Ed Sheeran_2020,8.8

In [7]:
# (b) With a Dictionary

df['artist_short'] = df['artist'].map({
    'Drake' : 'D', 
    'The Weeknd' : 'TW', 
    'Ed Sheeran' : 'ES'
})

df

,artist,year,popularity,popularity_squared,artist_year,popularity_scaled,artist_short
0,Drake,2019,85,7225,Drake_2019,8.5,D
1,The Weeknd,2020,92,8464,The Weeknd_2020,9.2,TW
2,Ed Sheeran,2020,88,7744,Ed Sheeran_2020,8.8,ES

 map() is simpler than apply() but only for one column.

### 3. applymap() â†’ Elementwise on Entire DataFrame

ðŸ‘‰ Works on a whole DataFrame.
Applies a function to every cell.

In [13]:
df_num = df[['year','popularity']]
df_num.applymap(lambda x : x*2)

# âœ… Rarely used â€” but handy for scaling/cleaning all numeric cells.

   year  popularity
0  4038         170
1  4040         184
2  4040         176

### 4. lambda â†’ Anonymous Function

ðŸ‘‰ lambda is not a pandas method â€” itâ€™s a Python feature.
You use it inside apply, map, etc. for quick inline functions.

In [15]:
df['popularity_flag'] = df['popularity'].apply(lambda x : 'High' if x > 90 else 'Normal')
df

,artist,year,popularity,popularity_squared,artist_year,popularity_scaled,artist_short,popularity_flag
0,Drake,2019,85,7225,Drake_2019,8.5,D,Normal
1,The Weeknd,2020,92,8464,The Weeknd_2020,9.2,TW,High
2,Ed Sheeran,2020,88,7744,Ed Sheeran_2020,8.8,ES,Normal

###  5. reduce() â†’ Cumulative Function (Python)

ðŸ‘‰ Comes from functools.
Takes two elements at a time â†’ reduces the whole list to a single value.

In [16]:
nums = [1, 2, 3, 4]
reduce(lambda x, y: x + y, nums)

10

In [17]:
reduce(lambda x, y: x+y, df['popularity'])

265

### 6. filter() â†’ Subset by Labels

ðŸ‘‰ In pandas, filter works differently than boolean filtering.
It filters rows or columns by label names.

In [18]:
# (a) Filter Columns by Name

df.filter(like='pop')

   popularity  popularity_squared  popularity_scaled popularity_flag
0          85                7225                8.5          Normal
1          92                8464                9.2            High
2          88                7744                8.8          Normal

In [19]:
# b) Filter Specific Columns

df.filter(items=['artist','year'])

       artist  year
0       Drake  2019
1  The Weeknd  2020
2  Ed Sheeran  2020

In [20]:
# âœ… To filter rows by values â†’ use boolean indexing instead:

df[df['popularity']> 90]

,artist,year,popularity,popularity_squared,artist_year,popularity_scaled,artist_short,popularity_flag
1,The Weeknd,2020,92,8464,The Weeknd_2020,9.2,TW,High